@import '../_mix-n-var';



/* FOOTER STYLES */

p {
	font {
		weight: normal;
		size: $t-sm-size;
	}
	color: #d1c1ff;
	text-transform: $t-up;
}

footer {
	background-color: map-get($back-color, dark);
	@include full-d($full-dim, 700px);
	margin-top: 5 * $val-1;
}

.footer-container {
	margin: $m-z-aut;
	width: 55%;
}

.footer-div {
	margin: 4 * $val-1 auto;
	width: 80%;
	ul {
		list-style: $none;
		padding: 3 * $val-1 2 * $val-1;
		li {
			a {
				text: {
					decoration: $none;
					transform: $t-up;
					align: $t-cent;
				}
				@include t-bck-lists(map-get($back-color, dark), map-get($back-color, m-dark))
				color: map-get($t-color, dark);
				display: map-get($disp, bl);
				font-weight: map-get($t-weight, bold);
				padding: 3 * $val-1 0;
				width: 4 * $tenth;
				margin-left: -$val-1;
			}
		}
	}
}
