@import '../_mix-n-var';

/* GENERAL STYLES FOR INDEX */

.hidden {
	display: map-get($disp, no);
}

.show {
	display: map-get($disp, bl);
}



/* NAV STYLES */

header {
	@include full-d($full-dim, $auto);
	margin-top: -5 * $val-1;
}

nav {
	@include height-n-col($auto, map-get($back-color, dark));
	padding-top: 6 * $val-1;
	ul {
		margin-right: 8 * $val-1;
		list-style: $none;
		li {
			a {
				text-decoration: $none;
				@include t-bck-lists(map-get($back-color, dark), map-get($back-color, m-dark))
				color: map-get($t-color, light);
				text: {
					align: $t-cent;
					transform: $t-up;
				}
				@include p-m-w(3 * $val-1 2 * $val-1 3 * $val-1 3 * $val-1, $val-1 auto, $half-dim);
				display: map-get($disp, bl);
			}
		}
	}
}

.current {
	border: $border-l;
	padding: 15px 10px 15px 15px;
}



/* SECONDARY AND TERTIARY NAVS */

.secondary-nav {
	@include height-n-col($auto, map-get($back-color, m-dark));
	padding: 4 * $val-1 0;
	ul {
		margin-right: 8 * $val-1;
	}
}

.secondary-nav ul {
	list-style: $none;
	text-align: $t-cent;
	li {
		color: map-get($t-color, light);
		text-transform: $t-up;
		margin: 3 * $val-1 0;
		a {
			text: {
				decoration: $none;
				transform: $t-up;
			}
			@include t-cl-lists(map-get($t-color, med), map-get($t-color, wh));
			display: map-get($disp, inln);
			color: map-get($t-color, med);
		}
	}
}

.tertiary-nav {
	margin-top: -17px;
	@include height-n-col($auto, map-get($back-color, light));
	padding: 4 * $val-1 0;
	ul {
		list-style: $none;
		padding: 3 * $val-1 0;
		li {
			a {
				@include t-bck-lists(map-get($back-color, v-light), map-get($back-color, wh));
				@include p-m-w(3 * $val-1, 3 * $val-1 auto, 4 * $tenth);
				color: map-get($t-color, dark);
				display: map-get($disp, bl);
				text: {
					align: $t-cent;
					transform: $t-up;
					decoration: $none;
				}
			}
		}
	}
}

#search-form {
	text-align: $t-cent;
	input,
	button {
		padding: 2 * $val-1 3 * $val-1;
	}

	input {
		@include t-bck-lists(map-get($back-color, wh), map-get($back-color, v-light));
	}

	button {
		@include t-bck-lists(map-get($back-color, v-light), map-get($back-color, wh));
		cursor: $point;
	}
}



/* FILTERS STYLES */

.filters {
	@include p-m-w($val-1 0, 2 * $val-1 auto, 9 * $tenth);
	text-transform: $t-up;
	font-size: $t-sm-size;
	color: map-get($t-color, med);
	h2 {
		font: {
			size: $t-sm-size;
			weight: map-get($t-weight, bold);
		}
	}

	ul {
		list-style: $none;
		li {
			font-weight: map-get($t-weight, bold);
			padding: 2 * $val-1 0;
			input[type="radio"] {
				display: map-get($disp, no);
				&:checked + label::before {
					content: "\2022";
					color: map-get($t-color, light);
					font-size: 6 * $val-1;
					text-align: center;
					line-height: 18px;
				}
			}
			label {
				cursor: $point;
				@include t-cl-lists(map-get($t-color, med), map-get($t-color, dark));
				&::before {
					content: "";
					display: map-get($disp, in-b);
					@include full-d(16px, 16px);
					margin-right: 2 * $val-1;
					background-color: map-get($back-color, light);
					box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
					border-radius: 8px;
				}
			}
		}
	}

	button {
		@include text-disp-col($t-up, map-get($disp, bl), dark);
		background-color: map-get($back-color, wh);
		padding: 2 * $val-1;
		font-weight: map-get($t-weight, bold);
		cursor: $point;
		border: $none;
		&:focus,
		&:hover {
			border: $border-d;
		}
	}
}



/* TITLE AREA STYLES */

.title-area {
	height: $auto;
	margin: 3 * $val-1 auto;
}

h1 {
	text: {
		align: $t-cent;
		transform: $t-up;
	}
	font-weight: map-get($t-weight, bold);
	color: map-get($t-color, med);
}

.title-stuff a {
	@include t-bck-lists(map-get($back-color, light), map-get($back-color, m-dark));
	@include disp-marg(map-get($disp, bl), 2 * $val-1 auto);
	color: map-get($t-color, dark);
	text: {
		transform: $t-up;
		align: $t-cent;
		decoration: $none;
	}
	padding: 3 * $val-1 2 * $val-1;
	width: 4 * $tenth;
}



/* MAIN-CONTENT STYLES */

.main-content {
	@include full-d($full-dim, $auto);
	margin: $m-z-aut;
	padding: 5 * $val-1;
}

.main-content .content-container h3 {
	text: {
		transform: $t-up;
		align: $t-cent;
	}
	font-weight: map-get($t-weight, bold);
	color: map-get($t-color, med);
}

.content-container {
	@include full-d($full-dim, $auto);
	margin: 3 * $val-1 auto;
}



/* TABLE STYLES */

.table {
	width: $full-dim;
}

.table thead tr th,
.table tbody tr td {
	text-align: justify;
	padding-right: 7px;
	font-size: $t-xs-size;
}

.table {
	border-collapse: collapse;
	thead {
		tr {
			th {
				text-transform: $t-up;
				color: map-get($t-color, med);
			}
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: map-get($back-color, v-v-light);
			}
			td {
				border-top: $none;
				color: map-get($t-color, gr);
			}
		}
	}
}



/* TABLE DROPDOWN BUTTON */

.hidden {
	a {
		text-decoration: $none;
		color: map-get($t-color, med);
	}
}

.dropdown-btn,
.hidden a,
.hidden button {
	@include t-bck-lists(map-get($back-color, m-dark), map-get($back-color, v-light));
	text-transform: $t-up;
	border: $none;
	color: map-get($t-color, v-light);
	padding: 2 * $val-1;
	margin-right: -3 * $val-1;
	cursor: $point;
	font: {
		weight: map-get($t-weight, bold);
		size: $t-xs-size;
	}
}

.dropdown {
	float: $f-right;
	position: relative;
	display: map-get($disp, in-b);
}

.actions-dropdown {
	display: map-get($disp, no);
	position: absolute;
	min-width: 32 * $val-1;
	overflow: $auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    a,
    button {
    	@include t-bck-lists(map-get($back-color, v-v-light), map-get($back-color, m-dark))
		color: map-get($t-color, med);
		font: {
			weight: map-get($t-weight, bold);
			size: $t-sm-size;
		}
		text-transform: $t-up;
		padding: 3 * $val-1;
    }

    a {
		text: {
			decoration: $none;
			align: $t-cent;
		}
		display: map-get($disp, bl);
    }

    button {
		background-color: map-get($back-color, v-v-light);
		border: $none;
		width: $full-dim;
    }
}

.show {
	display: map-get($disp, bl);
}



/* FOOTER STYLES */

p {
	font {
		weight: normal;
		size: $t-sm-size;
	}
	color: #d1c1ff;
	text-transform: $t-up;
}

footer {
	background-color: map-get($back-color, dark);
	@include full-d($full-dim, 700px);
	margin-top: 5 * $val-1;
}

.footer-container {
	margin: $m-z-aut;
	width: 55%;
}

.footer-div {
	margin: 4 * $val-1 auto;
	width: 80%;
	ul {
		list-style: $none;
		padding: 3 * $val-1 2 * $val-1;
		li {
			a {
				text: {
					decoration: $none;
					transform: $t-up;
					align: $t-cent;
				}
				@include t-bck-lists(map-get($back-color, dark), map-get($back-color, m-dark))
				color: map-get($t-color, dark);
				display: map-get($disp, bl);
				font-weight: map-get($t-weight, bold);
				padding: 3 * $val-1 0;
				width: 4 * $tenth;
				margin-left: -$val-1;
			}
		}
	}
}
