@import '../_mix-n-var.scss';

.lightbox {
  @include full-d($full-dim, $full-dim);
	top: $zero;
	left: $zero;
	text-align: $t-cent;
	position: fixed;
	display: map-get($disp, no);
	background-color: map-get($back-color, lb);
	.lb-content {
		vertical-align: middle;
		background-color: map-get($back-color, dark);
		overflow: scroll;
		position: $abs;
		z-index: 4 * $val-1;
		width: $full-dim;
		top: 5 * $tenth;
		left: $zero;

		.lb-close {
			color: #000;
			font: {
        weight: map-get($t-weight, bold);
        size: $t-m-size;
      }
			position: $abs;
			top: 10px;
			right: 4 * $val-1;
		}
		.lb-container {
			width: 9 * $tenth;
			margin-top: 2 * $val-1;
		}
	}
}
