<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Student Grade App</title>
		<link rel="stylesheet" href="../styles/normalize.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="../styles/main.css" type="text/css" />
	</head>
	<body>
		<header>
			<nav>
				<div class="row">
					<ul>
						<li><a href="index.html">Student Grades App</a></li>
						<li class="current">
							<div class="dropdown-classes js-dropdown-classes">
								<button type="button" name="dropdown-btn" class="dropdown-btn-classes js-dropdown-btn-classes"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Classes</button>
								<div class="actions-dropdown-classes js-actions-dropdown-classes">
									<a href="/classes/class/create" role="button" value="class-number" class="class-finder">Add Class</a>
									<a href="/classes/coming-soon" role="button" value="class-number" class="class-finder">Edit Class</a>
									<button type="button" class="js-send-to-del-trigger" value="class-number">Delete Class</button>
									<a href="/classes/coming-soon" role="button" value="class-number" class="class-finder">Go To Class</a>
								</div>
							</div>
						</li>
						<li>
							<div class="dropdown-classes js-dropdown-students">
								<button type="button" name="dropdown-btn" class="dropdown-btn-classes js-dropdown-btn-students"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Students</button>
								<div class="actions-dropdown-classes js-actions-dropdown-students">
									<a href="#" role="button" value="class-number" class="class-finder">Add Student</a>
									<a href="/classes/coming-soon" role="button" value="class-number" class="class-finder">Edit Student</a>
									<button type="button" class="js-send-to-del-trigger" value="class-number">Delete Student</button>
									<a href="/classes/coming-soon" role="button" value="class-number" class="class-finder">Go To Student</a>
								</div>
							</div>
						</li>
						<li><a href="/classes/coming-soon">Work</a></li>
						<li><a href="/classes/coming-soon">Grades</a></li>
					</ul>
				</div>
			</nav>
			<div class="secondary-nav">
				<div class="row">
					<ul>
						<li>Logged in as: <a href="/classes/coming-soon">The Dude</a></li>
						<li>Hello The Dude!</li>
						<li>Date: 20th of February, 2017</li>
					</ul>
				</div>
			</div>
			<div class="tertiary-nav">
				<div class="row">
					<ul>
						<li><a href="#" role="tab" class="js-tab curr-tab">Science</a></li>
						<li><a href="#" role="tab" class="js-tab">Math</a></li>
						<li><a href="#" role="tab" class="js-tab">Languages</a></li>
						<li><a href="#" role="tab" class="js-tab">Social Sciences</a></li>
					</ul>
					<form id="search-form">
						<label for="search" aria-label="search" aria-hidden="true" class="screen-reader">Search:</label>
						<input type="text" name="search" id="search" placeholder="Search" />
						<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</header>
		<main>
			<section class="title-area">
				<h1>Coming Soon!</h1>
				<!-- Load add class button from app.js here -->
			</section>
			<section class="main-content js-main-content">
				<div class="content-container js-content-container">
				</div>
			</section>
		</main>

		<footer>
			<section class="footer-container">
				<div class="row">
					<div class="left footer-div col-4">
						<p>By</p>
						<ul>
							<li><a href="#">R. Wood, 2016</a></li>
						</ul>
					</div>
					<div class="center footer-div col-4">
						<p>Powered by</p>
						<ul>
							<li><a href="#">jQuery</a></li>
							<li><a href="#">Node.js</a></li>
							<li><a href="#">Express</a></li>
						</ul>
					</div>
					<div class="right footer-div col-4">
						<p>Thanks to</p>
						<ul>
							<li><a href="#">Font Awesome</a></li>
						</ul>
					</div>
				</div>
			</section>
		</footer>

		<!-- SCRIPTS -->
		<!-- Libraries -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<!-- Custom scripts -->
		<script src="../scripts/dropdown.js" type="text/javascript"></script>
	</body>
</html>
