<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>View Class | Student Grade App</title>
		<link rel="stylesheet" href="../../../../styles/normalize.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
		<link rel="stylesheet" href="../../../../styles/main.css" type="text/css" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false"></button>
						<span class="sr-only">Toggle navigation bar</span>
						<a href="/" class="navbar-brand">Student Grades App</a>
					</div>
					<div class="collapse navbar-collapse" id="collapsable-nav">
						<ul class="navbar-nav nav nav-stacked">
							<li role="presentation"><a href="/" class="js-classes">Classes<span class="sr-only"></span></a></li>
							<li role="presentation"><a href="#" class="js-students">Students<span class="sr-only"></span></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li role="presentation"><p class="navbar-text">Signed in as <a href="#">The Dude</a></p></li>						
						</ul>
					</div>
					
				</div>
			</nav>	
		</header>

		<main>
			<div class="container">
				<section class="title-area">
					<h1>Student Grade App</h1>
					<div class="title-stuff"></div>
				</section>
				<section class="main-content js-main-content">
				<!-- load alerts here -->
					<div class="content-container js-content-container">
						<!-- LOAD DATA HERE -->
					</div>
				</section>
			</div>

			<!-- Lightbox -->

			<div class="lightbox js-lightbox">
				<div class="lb-content js-lb-content">
					<div class="lb-close js-lb-close">X</div>
					<div class="lb-container js-lb-container">
						<!-- Where content will load -->
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<ul class="nav">
							<li><p>By R. Wood, 2016</p></li>
						</ul>
						
					</div>
					<div class="col-xs-4">
						<p>Powered by:</p>
						<ul class="nav">
							<li><a href="#">jQuery</a></li>
							<li><a href="#">Bootstrap</a></li>
							<li><a href="#">Node.js</a></li>
							<li><a href="#">Express</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<p>Thanks to:</p>
						<ul class="nav">
							<li><a href="#">Glyphicon</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- SCRIPTS -->
		<!-- Libraries -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type="text/javascript"></script>
		<!-- Custom scripts -->
		<script src="../../../../scripts/student-create.js" type="text/javascript"></script>
		
	</body>
</html>