/* GENERAL STYLES */

html, body {
	height: 100%;
}

html {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p,
a {
	font-size: 16px;
	font-weight: bold;
}

body {
	height: 100%;
	width: 100%;
}



/* MORE GENERAL STYLES */

ul {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

ul li a:focus,
ul li a:hover {
	background-color: #845bff;

}

main {
	margin-top: -10px;
	height: auto;
	width: 100%;
}



/* SCREEN READER */

.screen-reader {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}



/* NAV STYLES */

header {
	height: auto;
	width: 100%;
	margin-top: -25px;
}

nav {
	background: #63f;
	height: auto;
	padding-top: 30px;
}

nav ul {
	margin-right: 40px;
}

.secondary-nav {
	background: #845bff;
	padding: 20px 0;
	height: auto;
}

.secondary-nav ul {
	margin-right: 40px;
}

nav ul li a,
.secondary-nav ul li {
	color: #d1c1ff;
	text-align: center;
}

nav ul li a {
	padding: 15px 10px 15px 15px;
	margin: 5px auto;
	display: block;
	width: 50%;
	text-transform: uppercase;
}

.current {
	border: 1px solid #d1c1ff;
	padding: 15px 10px 15px 15px;
}

.secondary-nav li,
.secondary-nav li a {
	text-transform: uppercase;
}

.secondary-nav li a:focus,
.secondary-nav li a:hover {
	color: #fff;

}

.secondary-nav li {
	margin: 15px 0;
}

.secondary-nav li a {
	display: inline;
	color: #140a33;
}



/* MAIN-CONTENT STYLES */

.main-content {
	height: auto;
	width: 100%;
	margin: 0 auto;
	padding: 25px;
}

.main-content .content-container h3 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #140a33;
}

.content-container {
	height: auto;
	width: 100%;
	margin: 15px auto;
}



/* TITLE AREA STYLES */

.title-area {
	height: auto;
	margin: 15px auto;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #140a33;
}



/* TABLE DROPDOWN BUTTON */

.dropdown-btn {
	text-transform: uppercase;
	border: none;
	background: #845bff;
	color: #d1c1ff;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	margin-right: -15px;
}

.dropdown-btn:focus,
.dropdown-btn:hover {
	background-color: #c1adff
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.actions-dropdown {
	display: none;
	position: absolute;
	background-color: #d1c1ff;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.actions-dropdown a,
.actions-dropdown button {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px;
}

.actions-dropdown a {
	text-decoration: none;
	display: block;
	text-align: center;
}

.actions-dropdown button {
	background-color: #d1c1ff;
	border: none;
	width: 100%;
}

.dropdown a:hover,
.dropdown button:hover {
	background-color: #845bff;
}

.show {
	display: block;
}



/* FOOTER STYLES */

p {
	font-weight: normal;
	font-size: 16px;
	color: #d1c1ff;
	text-transform: uppercase;
}

footer {
	background-color: #63f;
	height: 700px;
	width: 100%;
	margin-top: 25px;
}

.footer-container {
	margin: 0 auto;
	width: 55%;
}

.footer-div {
	margin: 20px auto;
	width: 80%;
}

.footer-div ul {
	padding: 15px 10px;
}

.footer-div ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #33197f;
	text-transform: uppercase;
	padding: 15px 0;
	width: 40%;
	margin-left: -5px;
}

.footer-div ul li a:focus,
.footer-div ul li a:hover {
	color: #d1c1ff;
}
