/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

p,
a {
	font-size: 16px;
	font-weight: bold;
}

body {
	height: 100%;
	width: 100%;
}



/* GENERAL STYLES */

ul {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

main {
	margin-top: -10px;
	height: auto;
	width: 100%;
}



/* SCREEN READER */

.screen-reader {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}



/* NAV STYLES */

header {
	height: auto;
	width: 100%;
	margin-top: -25px;
}

nav {
	background: #63f;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	margin: 0 auto;
}

nav ul li {
	margin: 25px 40px 10px 0;
}

.secondary-nav {
	background: #845bff;
	padding: 20px;
	margin-top: -10px;
	height: auto;
}

nav ul li a,
.secondary-nav ul li {
	color: #d1c1ff;
	text-align: center;
}

nav ul li a {
	padding: 15px 10px 15px 15px;
	margin: 5px auto;
	display: block;
	width: 50%;
	text-transform: uppercase;
}

.secondary-nav li,
.secondary-nav li a {
	text-transform: uppercase;
}

.secondary-nav li {
	margin: 15px 0;
}

.secondary-nav li a {
	display: inline;
	color: #140a33;
}

.tertiary-nav {
	background: #a384ff;
	margin-top: -17px;
	height: auto;
	padding: 20px;
}

.tertiary-nav ul {
	padding: 15px 0;
}

.tertiary-nav ul li {
	margin: 0 auto;
}

.tertiary-nav ul li a {
	color: #33197f;
	display: block;
	background: #c1adff;
	width: 40%;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
}

#search-form {
	text-align: center;
}



/* FILTERS STYLES */

.filters {
	margin: 10px auto;
	padding: 5px 0;
	text-transform: uppercase;
	font-size: 16px;
	width: 90%;
	font-size: 16px;
}

.filters h2 {
	font-size: 16px;
	font-weight: bold;
}

.filters ul li {
	padding: 10px 0;
	font-weight: bold;
}

.filters ul li input {
	margin-right: 5px;
	margin-bottom: 10px;
}

.filters button {
	text-transform: uppercase;
	background: #fff;
	color: #33197f;
	padding: 10px;
	border: none;
	display: block;
	margin-left: 30px;
	font-weight: bold;
}



/* TITLE AREA STYLES */

.title-area {
	height: auto;
	margin: 15px auto;
}

.title-stuff a {
	color: #33197f;
	text-transform: uppercase;
	padding: 10px;
	background: #a384ff;
	display: block;
	margin: 10px auto;
	width: 40%;
	text-align: center;
}



/* MAIN-CONTENT STYLES */

.main-content .content-container h3 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}



/* TABLE STYLES */

td {
	color: #777;
}

.table thead tr th {
	text-transform: uppercase;
	border-bottom: 1px solid #777;
}

.table tbody tr td {
	border-top: none;
}



/* TABLE DROPDOWN BUTTON */

.dropdown-btn {
	text-transform: uppercase;
	border: none;
	background: #845bff;
	color: #d1c1ff;
	padding: 10px 15px;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.actions-dropdown {
	display: none;
	position: absolute;
	background-color: #d1c1ff;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.actions-dropdown a,
.actions-dropdown button {
	color: #000;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px;
}

.actions-dropdown a {
	text-decoration: none;
	display: block;
	text-align: center;
}

.actions-dropdown button {
	background-color: #d1c1ff;
	border: none;
	width: 100%;
}

.dropdown a:hover,
.dropdown button:hover {
	background-color: #845bff;
}

.show {
	display: block;
}