@mixin links ($link, $hover, $active) {
	& {
		color: $link;
		&:hover {
			color: $hover;
		}
		&:active, &:focus {
			color: $active;
		}
	}
}

@mixin lists ($normal, $hover) {
	background: $normal;
	&:hover, &:focus {
		background: $hover;
	}
}

$container-width: 100%;
$head-foot-color: #eee;
$border-styles: 1px solid #000;
$text-center: center;
$border-rad: 5px;
$break-small: 740px;

h1 {
	text-align: $text-center;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
}

.navbar {
	border-bottom: $border-styles;
}

.nav-stacked li {
	margin: 5px 0;
	a {
		padding: 10px 20px;
		border: $border-styles;
		background: $head-foot-color;
		border-radius: $border-rad;	
	}
}


.navbar-nav li a {
	@include links(#bbb, #fff, #eee);
}

.nav-stacked li a:last-child,
.navbar-text {
	margin-left: 15px;
}

.navbar-stacked li:last-child {
	@media screen and (min-width: $break-small) {
		margin-top: 5px;
	}
}

.nav-stacked>li+li {
	margin-top: 5px;
}

.selected {
	background: #222;
}

main {
	padding: 20px 0 75px 0;
	.main-content {
		.content-container {
			border: $border-styles;
			border-radius: $border-rad;
			h3 {
				padding-left: 15px;
			}

			.class-list {
				@include lists(#eee, #bbb);
			}
		}
	}
}

footer {
	background: $head-foot-color;
	border-top: $border-styles;
}