@mixin t-cl-lists ($normal, $hover) {
	color: $normal;
	&:hover, &:focus {
		color: $hover;
	}
}

@mixin t-bck-lists ($normal, $hover) {
	background-color: $normal;
	&:focus, &:hover {
		background-color: $hover;
	}
}

@mixin full-d ($width, $height) {
	width: $width;
	height: $height;
}

@mixin height-n-col ($height, $bck-col) {
	height: $height;
	background-color: $bck-col;
}

@mixin p-m-w ($pad, $marg, $wid) {
	padding: $pad;
	margin: $marg;
	width: $wid;
}

@mixin text-disp-col ($text, $disp, $color) {
	text-transform: $text;
	display: $disp;
	color: map-get($t-color, $color);
}

$back-color: (
	m-dark: #845bff,
	dark: #63f,
	light: #a384ff,
	v-light: #c1adff,
	wh: #fff
);

$t-color: (
	light: #d1c1ff,
	wh: #fff,
	med: #140a33,
	dark: #33197f
);

$t-weight: (
	normal: normal,
	bold: bold
);

$axes: 1px 1px 1px 1px;
$axes-c: 1px, 1px, 1px, 1px;

$font-fam: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$zero: 0;
$quat-dim: 25%;
$half-dim: 50%;
$almost-f: 90%;
$full-dim: 100%;

$sm-scr: 640px;

$val-1: 5px;

$t-cent: center;
$t-xs-size: 12px;
$t-sm-size: 16px;
$t-up: uppercase;

$f-left: left;
$f-right: right;

$m-z-aut: 0 auto;

$none: none;
$auto: auto;

$block: block;
$inln: inline;

$point: pointer;