main .main-content .content-container .class-list li {
  background: #eee; }
  main .main-content .content-container .class-list li:hover, main .main-content .content-container .class-list li:focus {
    background: #bbb; }
  main .main-content .content-container .class-list li .btn-danger {
    margin-left: 15px; }

main .main-content .content-container {
  border: 1px solid #000;
  border-radius: 5px;
  background: #eee; }
  main .main-content .content-container h3 {
    padding-left: 15px; }
  main .main-content .content-container p {
    margin-left: 5px; }
  main .main-content .content-container form {
    margin: 15px 5px; }
    main .main-content .content-container form .form-group label {
      margin-top: 5px; }
    main .main-content .content-container form #submit-btn {
      display: block;
      margin: 15px auto; }

.lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }
  .lightbox .lb-content {
    vertical-align: middle;
    background-color: #eee;
    overflow: scroll;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 15%;
    left: 0; }
    @media screen and (min-width: 1000px) {
      .lightbox .lb-content {
        top: 25%;
        height: 50%;
        left: 20%;
        width: 60%; } }
    .lightbox .lb-content .lb-close {
      color: #000;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      top: 10px;
      right: 20px; }
    .lightbox .lb-content .lb-container {
      width: 90%;
      margin-top: 10px; }
      @media screen and (min-width: 1000px) {
        .lightbox .lb-content .lb-container {
          width: 50%;
          padding: 50px 0;
          margin: 150px auto; } }

html,
body {
  height: 100%; }

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold; }

.navbar {
  border-bottom: 1px solid #000; }

.nav-stacked li {
  margin: 5px 0; }
  .nav-stacked li a {
    padding: 10px 20px;
    border: 1px solid #000;
    background: #eee;
    border-radius: 5px; }
  .nav-stacked li .selected {
    background: #222; }
    .nav-stacked li .selected:link {
      color: #fff; }

.navbar-nav li a {
  color: #bbb; }
  .navbar-nav li a:hover {
    color: #fff; }
  .navbar-nav li a:active, .navbar-nav li a:focus {
    color: #eee; }

.nav-stacked li a:last-child,
.navbar-text {
  margin-left: 15px; }

@media screen and (min-width: 740px) {
  .navbar-stacked li:last-child {
    margin-top: 5px; } }

.nav-stacked > li + li {
  margin-top: 5px; }

.col-xs-4 li {
  margin-left: -10px; }

.create-student-btn,
.add-class-btn {
  margin-bottom: 10px; }

.class-finder {
  margin: 0 5px; }

main {
  padding: 20px 0 75px 0;
  margin-bottom: 50px;
  min-height: 100%; }
  main:after {
    content: "";
    display: block; }
  main .container .title-stuff .btn {
    margin-bottom: 10px; }
  main .container .main-content .content-container {
    border: 1px solid #000;
    border-radius: 5px; }
    main .container .main-content .content-container h3 {
      padding-left: 15px; }
    main .container .main-content .content-container .class-table .btn {
      margin-left: 5px;
      margin-right: 5px; }

footer {
  background: #eee;
  border-top: 1px solid #000;
  margin-top: 50px; }
  footer .container {
    margin-top: 20px; }
    footer .container .col-xs-4 li {
      margin-left: -10px; }
