@import "_mix-n-var";
@import "_grid";
@import "templates/_index";
@import "_media-q-index";
@import "templates/_class-list-template";
@import "templates/_class-form-template";
@import "templates/_lightbox-styles";



/* GENERAL STYLES */

html {
	font-family: $font-fam;
}

html,
body {
	height: $full-dim;
}

body {
	width: $full-dim;
}

p,
a {
	font: {
		size: $t-sm-size;
		weight: map-get($t-weight, bold);
	}
}

ul {
	list-style: $none;
	li {
		a {
			text-decoration: $none;
		}
		&:focus,
		&:hover {
			background-color: map-get($back-color, m-dark);
		}
	}
}

main {
	margin-top: -2 * $val-1;
	@include full-d($full-dim, $auto);
}

.hidden {
	display: map-get($disp, no);
}

.show {
	display: map-get($disp, bl);
}



/* SCREEN READER */

.screen-reader {
	position: absolute !important;
	@include full-d(1px, 1px);
	overflow: hidden;
	clip: rect($axes);
	clip: rect($axes-c);
}



/* NAV STYLES */

header {
	@include full-d($full-dim, $auto);
	margin-top: -5 * $val-1;
}

nav {
	@include height-n-col($auto, map-get($back-color, dark));
	padding-top: 6 * $val-1;
	ul {
		margin-right: 8 * $val-1;
	}
}

nav ul li a {
	color: map-get($t-color, light);
	text: {
		align: $t-cent;
		transform: $t-up;
	}
	@include p-m-w(3 * $val-1 2 * $val-1 3 * $val-1 3 * $val-1, $val-1 auto, $half-dim);
	display: map-get($disp, bl);
}
