.row:before, .row:after {
  display: table;
  content: ''; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.row {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto; }
  .row:after {
    clear: both; }

.col-2, .col-3, .col-4, .col-6, .col-12 {
  padding: 0 1.04167%;
  float: left;
  width: 100%; }

@media screen and (min-width: 640px) {
  .col-2 {
    width: 20%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3333%; }
  .col-6 {
    width: 50%; }
  .col-12 {
    width: 100%; } }

.secondary-nav {
  height: auto;
  background-color: #845bff;
  padding: 20px 0; }
  .secondary-nav ul {
    margin-right: 40px; }

.secondary-nav ul {
  text-align: center; }
  .secondary-nav ul li {
    color: #d1c1ff;
    text-transform: uppercase;
    margin: 15px 0;
    color: #140a33; }
    .secondary-nav ul li:hover, .secondary-nav ul li:focus {
      color: #fff; }
    .secondary-nav ul li a {
      text-transform: uppercase;
      display: inline;
      color: #140a33; }

.tertiary-nav {
  margin-top: -17px;
  height: auto;
  background-color: #a384ff;
  padding: 20px 0; }
  .tertiary-nav ul {
    padding: 15px 0; }
    .tertiary-nav ul li a {
      background-color: #c1adff;
      padding: 15px;
      margin: 15px auto;
      width: 40%;
      color: #33197f;
      display: block;
      text-align: center;
      text-transform: uppercase; }
      .tertiary-nav ul li a:focus, .tertiary-nav ul li a:hover {
        background-color: #fff; }

#search-form {
  text-align: center; }
  #search-form input,
  #search-form button {
    padding: 10px 15px; }
  #search-form input {
    background-color: #fff; }
    #search-form input:focus, #search-form input:hover {
      background-color: #c1adff; }
  #search-form button {
    background-color: #c1adff;
    cursor: pointer; }
    #search-form button:focus, #search-form button:hover {
      background-color: #fff; }

/* FILTERS STYLES */
.filters {
  padding: 5px 0;
  margin: 10px auto;
  width: 90%;
  text-transform: uppercase;
  font-size: 16px;
  color: #140a33; }
  .filters h2 {
    font-size: 16px;
    font-weight: bold; }
  .filters ul li {
    font-weight: bold;
    padding: 10px 0; }
    .filters ul li input {
      margin-right: 5px;
      margin-left: 10px; }
  .filters button {
    text-transform: uppercase;
    display: block;
    color: #33197f;
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none; }
    .filters button:focus, .filters button:hover {
      border-color: #845bff;
      border-style: solid;
      border-width: 1px; }

/* TITLE AREA STYLES */
.title-area {
  height: auto;
  margin: 15px auto; }

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #140a33; }

.title-stuff a {
  background-color: #a384ff;
  color: #33197f;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  margin: 10px auto;
  width: 40%; }
  .title-stuff a:focus, .title-stuff a:hover {
    background-color: #845bff; }

/* MAIN-CONTENT STYLES */
.main-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px; }

.main-content .content-container h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #140a33; }

.content-container {
  width: 100%;
  height: auto;
  margin: 15px auto; }

/* TABLE STYLES */
.table thead tr th,
.table tbody tr td {
  text-align: justify;
  padding-right: 7px;
  font-size: 12px; }

.table thead tr th {
  text-transform: uppercase;
  border-bottom: 1px solid #777;
  color: #140a33; }

.table tbody tr:nth-child(odd) {
  background-color: #d1c1ff; }

.table tbody tr td {
  border-top: none;
  color: #777; }

/* TABLE DROPDOWN BUTTON */
.dropdown-btn {
  background-color: #845bff;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px; }
  .dropdown-btn:focus, .dropdown-btn:hover {
    background-color: #c1adff; }

.dropdown {
  float: right;
  position: relative;
  display: inline-block; }

.actions-dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1; }
  .actions-dropdown a,
  .actions-dropdown button {
    background-color: #d1c1ff;
    color: #140a33;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px; }
    .actions-dropdown a:focus, .actions-dropdown a:hover,
    .actions-dropdown button:focus,
    .actions-dropdown button:hover {
      background-color: #845bff; }
  .actions-dropdown a {
    text-decoration: none;
    text-align: center;
    display: block; }
  .actions-dropdown button {
    background-color: #d1c1ff;
    border: none;
    width: 100%; }

.show {
  display: block; }

/* LIGHTBOX STYLES */
.lightbox {
  display: none; }

/* FOOTER STYLES */
p {
  color: #d1c1ff;
  text-transform: uppercase; }
  p font {
    weight: normal;
    size: 16px; }

footer {
  background-color: #63f;
  width: 100%;
  height: 700px;
  margin-top: 25px; }

.footer-container {
  margin: 0 auto;
  width: 55%; }

.footer-div {
  margin: 20px auto;
  width: 80%; }
  .footer-div ul {
    padding: 15px 10px; }
    .footer-div ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #33197f;
      display: block;
      font-weight: bold;
      padding: 15px 0;
      width: 80%;
      margin-left: -5px; }

main .main-content .content-container h3 {
  padding-left: 15px; }

main .main-content .content-container p {
  margin-left: 5px; }

main .main-content .content-container form {
  margin: 15px 5px; }
  main .main-content .content-container form .form-group label {
    margin-top: 5px; }
  main .main-content .content-container form #submit-btn {
    display: block;
    margin: 15px auto; }

/* GENERAL STYLES */
html {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html,
body {
  height: 100%; }

body {
  width: 100%; }

p,
a {
  font-size: 16px;
  font-weight: bold; }

ul {
  list-style: none; }
  ul li a {
    text-decoration: none; }
  ul li:focus, ul li:hover {
    background-color: #845bff; }

main {
  margin-top: -10px;
  width: 100%;
  height: auto; }

/* SCREEN READER */
.screen-reader {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

/* NAV STYLES */
header {
  width: 100%;
  height: auto;
  margin-top: -25px; }

nav {
  height: auto;
  background-color: #63f;
  padding-top: 30px; }
  nav ul {
    margin-right: 40px; }

nav ul li a {
  color: #d1c1ff;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 10px 15px 15px;
  margin: 5px auto;
  width: 50%;
  display: block; }

/* MEDIA QUERIES */
@media screen and (min-width: 365px) {
  th,
  td,
  .dropdown-btn {
    font-size: 16px; } }

@media screen and (min-width: 640px) {
  nav {
    height: 400px;
    padding: 25px; }
  nav ul li {
    margin: 15px 40px 10px 0; }
  .filters {
    width: 50%; }
  .footer-div {
    width: 25%; }
  .table {
    width: 100%; }
  footer {
    height: 400px; }
  .footer-container {
    width: 100%; }
  .footer-div {
    display: inline-block; }
  .left {
    float: left; }
  .middle {
    clear: both; }
  .right {
    float: right; } }

@media screen and (min-width: 1000px) {
  nav {
    height: auto; }
  nav ul {
    padding-top: 15px; }
  nav ul li,
  .secondary-nav ul li {
    display: inline-block; }
  nav ul li a,
  .secondary-nav ul li a {
    display: inline; }
  .secondary-nav {
    padding: 10px 20px; }
  .secondary-nav ul li {
    margin-left: 20px;
    margin-right: 20px; }
  .tertiary-nav {
    width: 100%;
    margin-top: 0;
    height: 100px; }
  .tertial-nav ul,
  form {
    display: inline-block; }
  .tertiary-nav ul {
    width: 65%;
    margin: 0;
    float: left;
    padding-top: 40px; }
  .tertiary-nav ul li {
    display: inline-block;
    margin-right: 20px; }
  .tertiary-nav ul li a {
    display: inline;
    background-color: #fff; }
  .tertiary-nav ul li a:focus,
  .tertiary-nav ul li a:hover {
    text-decoration: underline; }
  .tertiary-nav ul li:first-child > a {
    padding-bottom: 35px; }
  form {
    float: right;
    padding-top: 25px; }
  #search-form input,
  #search-form button {
    padding: 13px; }
  .filters {
    width: 100%; }
  .filters .row {
    max-width: 100%; }
  .filters h2 {
    text-align: center; }
  .filters ul {
    display: inline-block;
    margin: 10px 40px; }
  .filters ul li {
    display: inline-block;
    margin: 15px 20px;
    padding: 10px 20px; }
  .filters button {
    display: inline-block;
    margin: 0 0 0 95px; }
  .title-stuff a {
    width: 30%; }
  .table thead tr th,
  .table tbody tr td {
    padding: 15px 25px; }
  .footer-container {
    width: 90%; }
  .footer-div {
    margin-left: 50px; }
  .footer-div li {
    margin: 5px 0; } }

@media screen and (min-width: 1200px) {
  nav {
    padding: 10px 25px; }
  nav .row,
  .tertiary-nav .row {
    max-width: 100%; }
  #search-form {
    width: 35%; }
  #search-form input {
    width: 60%; }
  .filters ul li {
    padding: 0; }
  .filters ul li,
  .filters ul li:last-child {
    margin: 15px 20px; }
  .filters button {
    margin: 0; }
  .title-stuff a {
    width: 10%; }
  .table thead tr th,
  .table tbody tr td {
    padding: 15px 40px; }
  .footer-container {
    width: 100%; }
  .footer-container .row {
    max-width: 100%; } }
