@import "_mix-n-var";
@import "grid";
@import "templates/_class-list-template";
@import "templates/_class-form-template";
@import "templates/_lightbox-styles";



/* GENERAL STYLES */

html {
	font-family: $font-fam;
}

html,
body {
	height: $full-dim;
}

body {
	width: $full-dim;
}

p,
a {
	font: {
		size: $t-sm-size;
		weight: map-get($t-weight, bold);
	}
}

ul {
	list-style: $none;
	li {
		a {
			text-decoration: $none;
		}
		&:focus,
		&:hover {
			background-color: map-get($back-color, m-dark);
		}
	}
}

main {
	margin-top: -2 * $val-1;
	@include full-d($full-dim, $auto);
}



/* SCREEN READER */

.screen-reader {
	position: absolute !important;
	@include full-d(1px, 1px);
	overflow: hidden;
	clip: rect($axes);
	clip: rect($axes-c);
}



/* NAV STYLES */

header {
	@include full-d($full-dim, $auto);
	margin-top: -5 * $val-1;
}

nav {
	@include height-n-col($auto, map-get($back-color, dark));
	padding-top: 6 * $val-1;
	ul {
		margin-right: 8 * $val-1;
	}
}

.secondary-nav {
	@include height-n-col($auto, map-get($back-color, m-dark));
	padding: 4 * $val-1 0;
	ul {
		margin-right: 8 * $val-1;
	}
}

nav ul li a {
	color: map-get($t-color, light);
	text: {
		align: $t-cent;
		transform: $t-up;
	}
	@include p-m-w(3 * $val-1 2 * $val-1 3 * $val-1 3 * $val-1, $val-1 auto, $half-dim);
	display: $block;
}

.secondary-nav ul {
	text-align: $t-cent;
	li {
		color: map-get($t-color, light);
		text-transform: $t-up;
		margin: 3 * $val-1 0;
		@include t-cl-lists(map-get($t-color, med), map-get($t-color, wh));
		a {
			text-transform: $t-up;
			display: $inln;
			color: map-get($t-color, med);
		}
	}
}

.tertiary-nav {
	margin-top: -17px;
	@include height-n-col($auto, map-get($back-color, light));
	padding: 4 * $val-1 0;
	ul {
		padding: 3 * $val-1 0;
		li {
			a {
				@include t-bck-lists(map-get($back-color, v-light), map-get($back-color, wh));
				@include p-m-w(3 * $val-1, 3 * $val-1 auto, 4 * $tenth);
				color: map-get($t-color, dark);
				display: $block;
				text: {
					align: $t-cent;
					transform: $t-up;
				}
			}
		}
	}
}

#search-form {
	text-align: $t-cent;
	input,
	button {
		padding: 2 * $val-1 3 * $val-1;
	}

	input {
		@include t-bck-lists(map-get($back-color, wh), map-get($back-color, v-light));
	}

	button {
		@include t-bck-lists(map-get($back-color, v-light), map-get($back-color, wh));
		cursor: $point;
	}
}



/* FILTERS STYLES */

.filters {
	@include p-m-w($val-1 0, 2 * $val-1 auto, 9 * $tenth);
	text-transform: $t-up;
	font-size: $t-sm-size;
	color: map-get($t-color, med);
	h2 {
		font: {
			size: $t-sm-size;
			weight: map-get($t-weight, bold);
		}
	}

	ul {
		li {
			font-weight: map-get($t-weight, bold);
			padding: 2 * $val-1 0;
			input {
				margin-right: $val-1;
				margin-left: 2 * $val-1;
			}
		}
	}

	button {
		@include text-disp-col($t-up, $block, dark);
		background-color: map-get($back-color, wh);
		padding: 2 * $val-1;
		font-weight: map-get($t-weight, bold);
		cursor: $point;
		border: $none;
		&:focus,
		&:hover {
			border: 1px solid #845bff;
		}
	}
}



/* TITLE AREA STYLES */

.title-area {
	height: $auto;
	margin: 3 * $val-1 auto;
}

h1 {
	text: {
		align: $t-cent;
		transform: $t-up;
	}
	font-weight: map-get($t-weight, bold);
	color: map-get($t-color, med);
}

.title-stuff a {
	@include t-bck-lists(map-get($back-color, light), map-get($back-color, $m-dark));
	color: map-get($t-color, dark);
	text: {
		transform: $t-up;
		align: $t-cent;
		decoration: $none;
	}
	padding: 3 * $val-1 2 * $val-1;
	display: $block;
	margin: 2 * $val-1 auto;
	width: 4 * $tenth;
}



/* MAIN-CONTENT STYLES */

.main-content {
	height: auto;
	width: 100%;
	margin: 0 auto;
	padding: 25px;
}

.main-content .content-container h3 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #140a33;
}

.content-container {
	height: auto;
	width: 100%;
	margin: 15px auto;
}



/* TABLE STYLES */

td {
	color: #777;
	font-size: $t-xs-size;
}

th {
	color: #140a33;
	font-size: $t-xs-size;
}

.table thead tr th,
.table tbody tr td {
	text-align: justify;
	padding-right: 7px;
}

.table thead tr th {
	text-transform: uppercase;
	border-bottom: 1px solid #777;
}

.table tbody tr td {
	border-top: none;
}



/* TABLE DROPDOWN BUTTON */

.dropdown-btn {
	text-transform: uppercase;
	border: none;
	background: #845bff;
	color: #d1c1ff;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: $t-xs-size;
}

.dropdown-btn:focus,
.dropdown-btn:hover {
	background-color: #c1adff
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.actions-dropdown {
	display: none;
	position: absolute;
	background-color: #d1c1ff;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.actions-dropdown a,
.actions-dropdown button {
	color: #000;
	font-weight: bold;
	font-size: $t-sm-size;
	text-transform: uppercase;
	padding: 15px;
}

.actions-dropdown a {
	text-decoration: none;
	display: block;
	text-align: center;
}

.actions-dropdown button {
	background-color: #d1c1ff;
	border: none;
	width: 100%;
}

.dropdown a:hover,
.dropdown button:hover {
	background-color: #845bff;
}

.show {
	display: block;
}



/* LIGHTBOX STYLES */

.lightbox {
	display: none;
}



/* FOOTER STYLES */

p {
	font-weight: normal;
	font-size: $t-sm-size;
	color: #d1c1ff;
	text-transform: uppercase;
}

footer {
	background-color: #63f;
	height: 700px;
	width: 100%;
	margin-top: 25px;
}

.footer-container {
	margin: 0 auto;
	width: 55%;
}

.footer-div {
	margin: 20px auto;
	width: 80%;
}

.footer-div ul {
	padding: 15px 10px;
}

.footer-div ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #33197f;
	text-transform: uppercase;
	padding: 15px 0;
	width: 40%;
	margin-left: -5px;
}

.footer-div ul li a:focus,
.footer-div ul li a:hover {
	color: #d1c1ff;
}



/* MEDIA QUERIES */

@media screen and (min-width: 365px) {
	th,
	td,
	.dropdown-btn {
		font-size: $t-sm-size;
	}
}

@media screen and (min-width: 640px) {
	nav {
		height: 400px;
		padding: 25px;
	}
	
	nav ul li {
		margin: 15px 40px 10px 0;
	}

	.filters {
		width: 50%;
	}

	.footer-div {
		width: 25%;
	}

	.table {
		width: 100%;
	}

	footer {
		height: 400px;
	}

	.footer-container {
		width: 100%;
	}

	.footer-div {
		display: inline-block;
	}

	.left {
		float: left;
	}

	.middle {
		clear: both;
	}

	.right {
		float: right;
	}
}

@media screen and (min-width: 1000px) {
	nav {
		height: auto;
	}

	nav ul {
		padding-top: 15px;
	}

	nav ul li,
	.secondary-nav ul li {
		display: inline-block;
	}

	nav ul li a,
	.secondary-nav ul li a {
		display: inline;
	}

	.secondary-nav {
		padding: 10px 20px;
	}


	.secondary-nav ul li {
		margin-left: 20px;
		margin-right: 20px;
	}

	.tertiary-nav {
		width: 100%;
		margin-top: 0;
		height: 100px;
	}

	.tertial-nav ul, 
	form {
		display: inline-block;
	}

	.tertiary-nav ul {
		width: 65%;
		margin: 0;
		float: left;
		padding-top: 40px;
	}

	.tertiary-nav ul li {
		display: inline-block;
		margin-right: 20px;
	}

	.tertiary-nav ul li a {
		display: inline;
		background-color: #fff;
	}

	.tertiary-nav ul li a:focus,
	.tertiary-nav ul li a:hover {
		text-decoration: underline;
	}

	.tertiary-nav ul li:first-child > a {
		padding-bottom: 35px;
	}

	form {
		float: right;
		padding-top: 25px;
	}

	#search-form input,
	#search-form button {
		padding: 13px;
	}

	.filters {
		width: 100%;
	}

	.filters .row {
		max-width: 100%;
	}

	.filters h2 {
		text-align: center;
	}

	.filters ul {
		display: inline-block;
		margin: 10px 40px;
	}

	.filters ul li {
		display: inline-block;
		margin: 15px 20px;
		padding: 10px 20px;
	}

	.filters button {
		display: inline-block;
		margin: 0 0 0 95px;
	}

	.title-stuff a {
		width: 30%;
	}

	.table thead tr th,
	.table tbody tr td {
		padding: 15px 25px;
	}

	.footer-container {
		width: 90%;
	}

	.footer-div {
		margin-left: 50px;
	}

	.footer-div li {
		margin: 5px 0;
	}

}

@media screen and (min-width: 1200px) {
	nav .row,
	.tertiary-nav .row {
		max-width: 100%;
	}

	#search-form {
		width: 35%;
	}

	#search-form input {
		width: 60%;
	}

	.filters ul li {
		padding: 0;
	}

	.filters ul li,
	.filters ul li:last-child {
		margin: 15px 20px;
	}

	.filters button {
		margin: 0;
	}

	.title-stuff a {
		width: 10%;
	}

	.table thead tr th,
	.table tbody tr td {
		padding: 15px 40px;
	}

	.footer-container {
		width: 100%;
	}

	.footer-container .row {
		max-width: 100%;
	}
}