@import "_mix-n-var";
@import "_grid";
@import "templates/_index";
@import "templates/_class-create-template";
@import "templates/_class-list-template";
@import "templates/_class-form-template";
@import "templates/_lightbox-styles";
@import "media-q/_media-q-index";
@import "media-q/_media-q-create-class";



/* GENERAL STYLES */

html {
	font-family: $font-fam;
}

html,
body {
	height: $full-dim;
}

body {
	width: $full-dim;
}

p,
a {
	font: {
		size: $t-sm-size;
		weight: map-get($t-weight, bold);
	}
}

main {
	margin-top: -2 * $val-1;
	@include full-d($full-dim, $auto);
}



/* SCREEN READER */

.screen-reader {
	position: absolute !important;
	@include full-d(1px, 1px);
	overflow: hidden;
	clip: rect($axes);
	clip: rect($axes-c);
}
